* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
    background-color: white;
    width: 100%;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    position: fixed;

}

.header__logo {
    margin: auto;
    width: 1200px;
    font: bold 25px 'arial';
    padding-top: 20px;
}

.header_menu {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.header_menu ul li {
    display: inline-block;
}

.header_menu ul li a{
    display: block;
    font: bold 14px;
    color: #999;
    margin: 0px 50px;
    letter-spacing: 0px;
}

.main_box {
    margin-left: 400px;
    flex-wrap: wrap;
    padding-top: 150px;
    height: 800px;
}

.profile_box {
    padding-top: 25px;
    border-right: solid #999 1px;
    margin-top: 150px;
    position: fixed;
    height: 800px;
    width: 400px;
}

.profile_container {
    /* 프로필의 모든 요소 중앙정렬 위해 만듦 */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_pic {
    background-color: red;
    width: 120px;
    height: 120px;
    border: solid #999 1px;
    margin: auto;
    margin-top: 80%;
    border-radius: 100%;
}

.profile_id {
    
}

.profile_pic {
    border: solid #999 1px;
    width: 350px;
    height: 450px;
}

.profile_info {
    border: solid #999 1px;
    width: 350px;
    height: 150px;
    margin-top: 25px;
}
/* 여기까지 기본 틀 */
