* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
    background-color: white;
    width: 100%;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    position: fixed;

}

.header__logo {
    margin: auto;
    width: 1200px;
    font: bold 25px 'arial';
    padding-top: 20px;
}

.header_menu {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.header_menu ul li {
    display: inline-block;
}

.header_menu ul li a{
    display: block;
    font: bold 14px;
    color: #999;
    margin: 0px 50px;
    letter-spacing: 0px;
}

.main_box {
    margin-left: 400px;
    flex-wrap: wrap;
    padding-top: 150px;
    height: 800px;
}

.profile_box {
    padding-top: 25px;
    border-right: solid #999 1px;
    margin-top: 150px;
    position: fixed;
    height: 800px;
    width: 400px;
}

.profile_container {
    /* 프로필의 모든 요소 중앙정렬 위해 만듦 */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_pic {
    background-color: red;
    width: 120px;
    height: 120px;
    border: solid #999 1px;
    margin: auto;
    margin-top: 80%;
    border-radius: 100%;
}

.profile_id {
    
}

.profile_pic {
    border: solid #999 1px;
    width: 350px;
    height: 450px;
}

.profile_info {
    border: solid #999 1px;
    width: 350px;
    height: 150px;
    margin-top: 25px;
}
/* 여기까지 기본 틀 */

.location_box {
  justify-content: center;
  display: flex;
  width: 600px;
  margin: auto;
  margin-top: 40px;
}

#location1 {
  margin-right: 20px;
  width: 150px;
  height: 40px;
}

#location2 {
  margin-right: 20px;
  width: 150px;
  height: 40px;
}

#location3 {
  width: 150px;
  height: 40px;
}

.map_icon {
                 
}

.map {
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://post-phinf.pstatic.net/MjAyMDExMjdfODkg/MDAxNjA2NDQ3MTI2MTAx.zL10Yre2OfWy88I0d3vDB5L6f1VKBmtZkCuZcGx5-5Ig.H0nI8VcMuExJVxvhZjqfZUS1jj4qj4j5TUH8Ktqdv_og.JPEG/3.jpg?type=w1200");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.map h1 {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}






/* .achievements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px;
}

.achievements .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.achievements .work i {
    width: fit-content;
    font-size: 50px;
    color: #333333;
    border-radius: 50%;
    border: 2px solid #333333;
    padding: 12px;
}

.achievements .work .work-heading {
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
}

.achievements .work .work-text {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
}
.about-me-text h2 {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
}
.about-me-text p {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
} */